
$color: rgb(2, 231, 2);

body{
  font-size: 14pt;
  background-color: rgba(5, 5, 5, 0.973) ;
  font-family: 'M PLUS 1 Code', sans-serif;
}

hr{
  border: 1px inset rgba(51, 49, 49, 0.97)
}

.app-container {
  color: $color;
}

